body
{
    font-family: 'Yeseva One', 'Century Gothic', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #182a55;
    background-image: url(IMAGES/background_parchment_s.png);
    cursor: url(IMAGES/rat_cursor.png), auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}
div{
    text-align: center;
}
h1,h2,h3,p, a{
    text-align: center;
}
h1, a{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
p{
    font-family: 'Oswald';
}
hr{
    color:#fec14a;
    background-color:#fec14a;
}

a {
  outline-color: transparent;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:focus {
  text-decoration: none;
  background: #ce7e00;
}

a:hover {
  text-decoration: none;
  background: #d4af37;
  cursor: url(IMAGES/rat_cursor_hover.png), auto;
}

a:active {
  background: white;
  color: #ce7e00;
}

.nav {
    top: 5px;
    position: fixed;
    border: 1px solid black;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff8e3;
    text-align: center; /* « The magic. */
}

.nav li {
    display: inline; /* « More magic. */
}

.nav a {
    display: inline-block; /* « Last bit of magic. */
    padding: 10px;
}

.squeeze {
    border-image: url('/media/examples/border-diamonds.png') 30 fill / 30px / 30px space;
}
rightflower{
    background-image: url('IMAGES/flowerban.png');
    background-repeat: repeat-x;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

