body
{
    font-family: 'Yeseva One', 'Century Gothic', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #182a55;
    background-color: #ffe8de;
}
h1,h2,h3,p{
    text-align: center;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 30px;
}
hr{
    color:#fec14a;
    background-color:#fec14a;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
